/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=PT+Serif:wght@400;700&display=swap');

p,
li,
button {
	font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'PT Serif', serif;
	font-weight: 500;
}

.embla__container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 49%;
	height: 145px; 
  gap: 8px;/* Each slide covers 80% of the viewport */
}

.embla__slide{
  border-radius: 10px;
}
